body{
	margin: 0px;
	font-family: arial
	/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
}
header{
	background-color: #d14635;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 3px;
}
h1, h2{
	font-family: 'Press Start 2P', cursive;
}
header h1{
	color: white;
	font-size: 35px;
}
header img{
	border-radius: 150px;
	border: 15px solid white;
}
main{
 margin: 0 auto;
 width: 800px;
}
h2{
	font-size: 25px;
	color: #e70c19;
}
p{
	font-size: 20px;
	line-height: 25px;
}
li{
	font-size: 20px;
}
a{
	color: #e70c19;
}

footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding-bottom: 35px;
	padding-top: 35px;
}
footer a{
	color: white;
}
a:hover{
	opacity: .5;
	background-color: transparent;
}
p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
	padding-top: 3px;
}





